
* {
    p {
        margin: 0;
        padding: 0;
    }
}

@media screen and (min-width: 1440px) and (max-width: 1920px) {
    .container {
        margin: 0 162px;
        max-width: 1597px;
    }
}


@media screen and (min-width: 1921px) {
    .container {
        margin: 0 162px;
        max-width: 1597px;
    }
}


@media screen and (min-width: 390px) and (max-width: 1439px) {
    .container {
        margin: 0 80px;
    }
}


@media screen and (max-width: 389px) {
    .container {
        margin: 0 16px;
    }
} 


header .header {
    z-index: 20;
    position: fixed; 
    left: 0; 
    top: 0;
    width: 100%;
    height: 119px;
    border-bottom: 1px solid #343a40;
    background-color: #000;
}
header .header .navbar {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header .header .navbar .logo{
    font-size: 27px;
    color: #fff;
    font-family: Manrope;

}
header .header .navbar .btns-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;

    .left {
        border-top-left-radius: 10px;
    }
    
    .right {
        border-top-right-radius: 10px;
    }
}


header .header .navbar .btns-nav .btn-nav{
    padding: 30px 50px;
    color: #fff;
    background-color: #000;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    border: 1px #343a40 solid;
}

header .header .navbar .btns-nav .btn-nav:hover {
    background: #343a40;
    color: #fff;
}
header .header .navbar .btn-link{

}
header .header .navbar .btn-contact{
    padding: 16px 24px;
    border-radius: 10px;
    background-color: #2F2F37;
    color: #fff;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    border: 1px solid #2F2F37;
}
header .header .navbar .btn-contact:hover{
    background-color: #fff;
    color: #2F2F37;
}
body {
    overflow-x: hidden;
    margin: 0;
    background-color: #000;
    min-height: 100vh;
}
main{
    width: 100%;
    .name-picture-roller {
        padding: 120px 0 0 0;
        .up {
            height: 100%;
            padding: 0;
            .name-lines {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .name-content {
                    .content {
                        text-transform: uppercase;
                        font-family: Manrope;
                        font-size: 22px;
                        font-weight: 500;
                        line-height: 30px;
                        letter-spacing: 0em;
                        color: #62646C;
                        margin: 0;
    
                    }
                    .name {
                        text-transform: uppercase;
                        font-family: Manrope;
                        font-size: 80px;
                        font-weight: 600;
                        line-height: 109px;
                        letter-spacing: 0em;
                        color: #E4E4E6;
                        margin: 0;
                    }
                }
    
                .slogan-btn {
                    .text-btn {
                        display: flex;
                        align-items: center;
                        .stroke-btn {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 23px 55px;
                            gap: 10px;
                            border-radius: 100px;
                            background-color: #4A2CED;
                            margin-left: 10px;
                        }
                        .stroke-btn:hover {
                            background-color: #fff;
                            img {
                                filter: brightness(0%);
                            }  
                        }
                    }
                    .text {
                        font-family: Manrope;
                        font-size: 58px;
                        font-weight: 600;
                        line-height: 79px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #FFFFFF;
                    }
                }
            }

        }

        
        .roller{
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 80px;
            border: 1px solid #343a40;
            border-left: 0;
            border-right: 0;
            background-color: #0E0E10;
            .content {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 100%;
                p {
                    font-family: Manrope;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 27px;
                    letter-spacing: 0em;
                }
            }
        }

        .picture {
            width: 100%;
            padding: 0;
            height: 512px;

            .image {
                position: relative;
                top: 158px;
                right: 524px;
            }

            .yellow {
                position: relative;
                top: 157px;
                right: 514px;
            }

            .red {
                position: relative;
                bottom: 358px;
                left: 541px;
            }

            .grass {
                position: relative;
                bottom: 577px;
                left: 550px;
            }

            .air {
                position: relative;
                bottom: 359px;
                left: 156px;
            }
        }
    }

    .person-contact {
        width: 100%;
        padding: 200px 0 0;
        display: flex;
        flex-direction: column;
        gap: 80px;
        .info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 0 50px 0;

            border-bottom: 1px solid #343a40;
            .name-content {
                display: flex;
                flex-direction: column;
                .content {
                    font-family: Manrope;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 27px;
                    letter-spacing: 0em;
                    color: #62646C;
                    margin: 0;
    
                }
                .name {
                    font-family: Manrope;
                    font-size: 58px;
                    font-weight: 600;
                    line-height: 79px;
                    letter-spacing: 0em;
                    color: #E4E4E6;
                    margin: 0;
                }
            }

            .button-know  {
                padding: 0;
                .btn-know {
                    padding: 16px 24px;
                    border-radius: 10px;
                    background-color: #2F2F37;
                    color: #fff;
                    font-family: Manrope;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 27px;
                    letter-spacing: 0em;
                    border: 1px solid #2F2F37;
                }
                .btn-know:hover {
                    background-color: #fff;
                    color: #2F2F37;
                }
            }
        }

        .person-picture-text-contact {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 80px 0 0 0;
            gap: 30px;
            .text-content {
                display: flex;
                flex-direction: column;
                justify-content: start;
                width: 100%;
                height: 612px;
                border: 1px solid #343a40;
                border-radius:20px;

                .label {
                    display: flex;
                    flex-direction: column;
                    padding: 40px;
                    border-bottom: 1px solid #343a40;
                    .introduction {
                        display: flex;
                        flex-direction: row;
                        gap: 10px;
                        
                        .text{
                            margin: 0;
                            padding: 0;
                            font-family: Manrope;
                            font-size: 30px;
                            font-weight: 300;
                            line-height: 41px;
                            color: #fff;
                        }
                    }

                    .text{
                        margin: 0;
                        padding: 20px 0 0 0;
                        font-family: Manrope;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 27px;
                        color: #7d7979;                        
                    }
                }

                .contact-mail-buttons {
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    gap: 40px;
                    padding: 40px;

                    .introduction {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            
                            .text-contact{
                                margin: 0;
                                padding: 0;
                                font-family: Manrope;
                                font-size: 30px;
                                font-weight: 300;
                                line-height: 41px;
                                color: #fff;
                            }
                    }

                    .email-number {
                        display: flex;
                        flex-direction: row;
                            gap: 20px;
                            .name, .content {
                                display: flex;
                                flex-direction: column;
                                justify-content: start;
                                width: 100%;
                                .text-title {
                                    font-family: Manrope;
                                    font-size: 18px;
                                    font-weight: 500;
                                    line-height: 27px;
                                    color: #fff;
                                }
                                .text {
                                    font-family: Manrope;
                                    font-size: 20px;
                                    font-weight: 400;
                                    line-height: 30px;
                                    color: #7d7979;
                                }
                                
                            }
                            .content {
                                width: 100%;
                            }
                    }

                    .buttons {
                        display: flex;
                        justify-content: space-between;
                        .media {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 196px;
                            height: 68px;
                            border-radius: 40px;
                            background-color: #000;
                            border: 1px solid #343a40;

                            .logos {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                gap: 16px;
                                .logo {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    background-color: #2F2F37;
                                    height: 48px;
                                    width: 48px;
                                    border: 1px solid #343a40;
                                    border-radius: 30px;
                                }
                                .logo:hover {
                                    background-color: #fff;
                                    img {
                                        filter: brightness(0%);
                                    }
                                }
                            
                            }

                        }
                        .download {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            gap: 20px;
                            button {
                                font-family: Manrope;
                                font-size: 18px;
                                font-weight: 500;
                                line-height: 27px;
                                text-decoration: none;
                                height: 63px;
                                width: 213px;
                                color: #fff;
                                background-color: #343a40;
                                border: 1px solid #5c5858;
                                border-radius: 12px;
                            }
                            button:hover {
                                background-color: #fff;
                                color: #343a40;
                            }
                        }
                        
                    }
                }

            }
        }

        
    }

    .services-event {
        width: 100%;
        padding: 200px 0 0;
        display: flex;
        flex-direction: column;
        gap: 80px;
        .info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 0 50px 0;

            border-bottom: 1px solid #343a40;
            .name-content {
                display: flex;
                flex-direction: column;
                .content {
                    text-transform: uppercase;
                    font-family: Manrope;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 27px;
                    letter-spacing: 0em;
                    color: #62646C;
                    margin: 0;
    
                }
                .name {
                    text-transform: uppercase;
                    font-family: Manrope;
                    font-size: 58px;
                    font-weight: 600;
                    line-height: 79px;
                    letter-spacing: 0em;
                    color: #E4E4E6;
                    margin: 0;
                }
            }

            .control_elements {
                display: flex;
                gap: 30px;
                align-items: center;
                .arrows {
                    display: flex;
                    gap: 16px;
                    border: 1px solid #1C1C21;
                    padding: 10px;
                    border-radius: 100px;
                    .left, .right {
                        border: 1px solid;
                        border-image-source: linear-gradient(180deg, #2F2F37 27.85%, rgba(47, 47, 55, 0) 100%);
                        border-radius: 100%;
                        background: #1C1C21;
                        cursor: pointer;
                        img {
                            padding: 23px 27px;
                        }
                    }
                }
                .button-know {
                    padding: 0;

                    .btn-know {
                        width: 210px;
                        height: 59px;
                        border-radius: 10px;
                        background-color: #2F2F37;
                        color: #fff;
                        font-family: Manrope;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 27px;
                        letter-spacing: 0em;
                        border: 1px solid #2F2F37;
                    }

                    .btn-know:hover {
                        background-color: #fff;
                        color: #2F2F37;
                    }
                }
            }
        }

        .events-highlights-picture {
            /*display: flex;*/
            /*justify-content: space-between;*/
            /*align-items: center;*/
            /*gap: 50px;*/
            /*padding: 80px 0 0;*/
            transition: transform 0.5s ease;
            .events-highlights {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-content: space-between;
                gap: 50px;
                .events {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-content: space-between;
                    justify-content: start;
                    gap: 20px;
                    .name {
                        display: flex;
                        flex-direction: row;
                        p {
                            font-family: Manrope;
                            font-size: 44px;
                            font-weight: 600;
                            line-height: 60px;
                            color: #797C86;
                        }

                        .stroke-btn {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 23px 55px;
                            gap: 10px;
                            border-radius: 100px;
                            background-color: #4A2CED;
                            margin-left: 10px;
                        }
                        .stroke-btn:hover {
                            background-color: #fff;
                            img {
                                filter: brightness(0%);
                            }  
                        }
                    }
                    p {
                        font-family: Manrope;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 27px;
                        color: #797C86;
                    }

                }

                .highlights {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    p {
                        font-family: Manrope;
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 27px;
                        color: #CACACE;
                    }
                    .options {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        .option {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: start;
                            gap: 6.5px;
                            border: 1px solid #343a40;
                            border-radius: 12px;
                            padding: 18px 20px;
                            p {
                                text-transform: uppercase;
                                font-family: Manrope;
                                font-size: 18px;
                                font-weight: 400;
                                line-height: 27px;
                                width: 100%;
                                color: #AFB0B6;
                            }
                        }
                    }
                }

            }
            .events-slide {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 50px;

            }
        }


    }

    .portfolio-info {
        width: 100%;
        padding: 200px 0 0;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 80px;
        .info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 0 50px 0;

            border-bottom: 1px solid #343a40;
            .name-content {
                display: flex;
                flex-direction: column;
                .content {
                    text-transform: uppercase;
                    font-family: Manrope;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 27px;
                    letter-spacing: 0em;
                    color: #62646C;
                    margin: 0;
    
                }
                .name {
                    text-transform: uppercase;
                    font-family: Manrope;
                    font-size: 58px;
                    font-weight: 600;
                    line-height: 79px;
                    letter-spacing: 0em;
                    color: #E4E4E6;
                    margin: 0;
                }
            }

            .control_elements {
                display: flex;
                gap: 30px;
                align-items: center;
                .arrows {
                    display: flex;
                    gap: 16px;
                    border: 1px solid #1C1C21;
                    padding: 10px;
                    border-radius: 100px;
                    .left-portfolio, .right-portfolio {
                        border: 1px solid;
                        border-image-source: linear-gradient(180deg, #2F2F37 27.85%, rgba(47, 47, 55, 0) 100%);
                        border-radius: 100%;
                        background: #1C1C21;
                        cursor: pointer;
                        img {
                            padding: 23px 27px;
                        }
                    }

                    .left-portfolio:hover {
                        background: #fff;
                        img {
                            filter: brightness(0%);
                        }
                        
                    }
                    
                    .right-portfolio:hover {
                        background: #fff;
                        img {
                            filter: brightness(0%);
                        }
                    }

                }
                .button-know  {
                    padding: 0;
                    .btn-know {
                        padding: 16px 24px;
                        border-radius: 10px;
                        background-color: #2F2F37;
                        color: #fff;
                        font-family: Manrope;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 27px;
                        letter-spacing: 0em;
                        border: 1px solid #2F2F37;
                    }
                    .btn-know:hover {
                        background-color: #fff;
                        color: #2F2F37;
                    }
                }
            }

        }

        .portfolio {
            display: flex;
            flex-direction: row;
            justify-content: flex-start; /
            padding: 80px 0 0;
            transition: transform 0.5s ease;
            .project:last-child {
                margin-right: 0;
            }
            .project {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-content: space-between;
                gap: 19px;
                flex-shrink: 0;
                margin-right: 50px;
                box-sizing: border-box;
                .text {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: start;
                    .label-text {
                        .label {
                            font-family: Manrope;
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 27px;
                            color: #CACACE;
                        }

                        p{
                            color: #797C86;
                        }
                    }
                    .view {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        gap: 10px;
                        border-bottom: 1px solid #343a40;
                        text-decoration: none;
                        color: #fff;
                        p {
                            text-transform: uppercase;
                            font-family: Manrope;
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 25px;
                        }
                    }
                    .view:hover {
                        color: #343a40;
                        img {
                            filter: brightness(25%);
                        }
                    }
                }
            }
        }

    }

    .faq {
        width: 100%;
        padding: 200px 0 0;
        .info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 0 50px 0;
            .name-content {
                display: flex;
                flex-direction: column;
                .content {
                    text-transform: uppercase;
                    font-family: Manrope;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 27px;
                    letter-spacing: 0em;
                    color: #62646C;
                    margin: 0;
    
                }
                .name {
                    text-transform: uppercase;
                    font-family: Manrope;
                    font-size: 58px;
                    font-weight: 600;
                    line-height: 79px;
                    letter-spacing: 0em;
                    color: #E4E4E6;
                    margin: 0;
                }
            }
        }

        .faq-content {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .attributes {
                display: flex;
                flex-direction: column;
                gap:10px;
                width: 50%;
                .attribute {
            
                    display: flex;
                    justify-content: space-between;
                    gap: 40px;
                    flex-direction: row-reverse;
                
                    position: relative;
                    padding: 30px 50px;

                    .attribute-input {
                        position: absolute;
                        top:0;
                        left:0;
                        opacity: 0;
                    }

                    .attribute-input:checked ~ .attribute-content > .attribute-text{
                        display: block;
                    }
                    .attribute-input:checked ~ .attribute-btn{
                        padding: 20px;
                        background: url('/images/faq_open.svg') no-repeat center;
                    }
                    
                    .attribute-btn {
                        cursor: pointer;
                    
                        border-radius: 50%;
                        padding: 20px;
                        
                        width: 52px;
                        height: 52px;
                    
                        border: 1px solid #1C1C21;
                    
                        background: url('/images/faq_close.svg') no-repeat center;
                    }
                    
                    .attribute-content {
                        .attribute-header {
                            font-size: 20px;
                            font-weight: 600;
                            line-height: 27px;
                        
                            color: #AFB0B6;
                            text-transform: uppercase;
                        
                        }
                        .attribute-text {
                            padding-top: 20px;
                        
                            border-top: none;
                            display: none;
                        }
                    }
                }
                
                .attribute:not(:first-child) {
                    border-top: 1px solid #343a40;
                }
            }

            .attribute-items:first-child {
                border-right: 1px solid #343a40;
                border-top: none;
            }
        }
    }

    .reviews {
        width: 100%;
        padding: 200px 0 0;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 80px;
        .reviews-info {
            display: flex;
            justify-content: space-between;
            align-items: end;
            padding: 0 0 50px 0;
            border-bottom: 1px solid #343a40;
            .content {
                display: flex;
                flex-direction: column;
                gap: 20px;
                .name-content {
                    display: flex;
                    flex-direction: column;

                    .content {
                        text-transform: uppercase;
                        font-family: Manrope;
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 27px;
                        letter-spacing: 0em;
                        color: #62646C;
                        margin: 0;
                    }

                    .name {
                        text-transform: uppercase;
                        font-family: Manrope;
                        font-size: 58px;
                        font-weight: 600;
                        line-height: 79px;
                        letter-spacing: 0em;
                        color: #E4E4E6;
                        margin: 0;
                    }
                }
                .name-content--total {
                    display: flex;
                    flex-direction: column;

                    .content {
                        font-family: Manrope;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 27px;
                        letter-spacing: 0em;
                        color: #62646C;
                        margin: 0;
                    }

                    .name {
                        font-family: Manrope;
                        font-size: 28px;
                        font-weight: 500;
                        line-height: 42px;
                        letter-spacing: 0em;
                        color: #CACACE;
                        margin: 0;
                    }
                }
            }
            .control_elements {
                display: flex;
                gap: 30px;
                align-items: center;
                .arrows {
                    display: flex;
                    gap: 16px;
                    border: 1px solid #1C1C21;
                    padding: 10px;
                    border-radius: 100px;
                    .left-review, .right-review {
                        border: 1px solid;
                        border-image-source: linear-gradient(180deg, #2F2F37 27.85%, rgba(47, 47, 55, 0) 100%);
                        border-radius: 100%;
                        background: #1C1C21;
                        cursor: pointer;
                        img {
                            padding: 23px 27px;
                        }
                    }

                    .left-review:hover {
                        background: #fff;
                        img {
                            filter: brightness(0%);
                        }
                        
                    }
                    
                    .right-review:hover {
                        background: #fff;
                        img {
                            filter: brightness(0%);
                        }
                    }
                }
                .button-know  {
                    padding: 0;
                    .btn-know {
                        padding: 16px 24px;
                        border-radius: 10px;
                        background-color: #2F2F37;
                        color: #fff;
                        font-family: Manrope;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 27px;
                        letter-spacing: 0em;
                        border: 1px solid #2F2F37;
                    }
                    .btn-know:hover {
                        background-color: #fff;
                        color: #2F2F37;
                    }
                }
            }

        }
        .reviews-list {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            transition: transform 0.5s ease;
            .project:last-child {
                margin-right: 0;
            }
            .reviews-list--single {
                flex: 0 0 auto;
                width: calc(100% / 3 - 30px);
                margin-right: 30px;

                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-content: space-between;
                gap: 30px;
                box-sizing: border-box;
                padding: 40px;
                background: #0E0E10;
                .info-panel {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .info-panel--text {
                        display: flex;
                        flex-direction: column;
                        p {
                            font-family: Manrope;
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 30px;
                            text-align: left;
                            color: #E4E4E6;
                        }
                        span {
                            font-family: Manrope;
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 27px;
                            text-align: left;
                            color: #62646C;
                        }
                    }
                    .info-panel--socials {
                        padding: 10px;
                        border-radius: 100px;
                        border: 1px solid #1C1C21;
                        display: flex;
                        gap: 10px;
                        .circle {
                            display: flex;
                            align-items: center;
                            border-radius: 100px;
                            padding: 14px;
                            background: #1C1C21;
                            border-image-source: linear-gradient(180deg, #2F2F37 27.85%, rgba(47, 47, 55, 0) 100%);
                        }
                    }
                }
                .rating {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }
                .text {
                    font-family: Manrope;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 30px;
                    text-align: left;
                    color: #E4E4E6;
                }
            }
        }

    }

    .word-decoration{
        width: 100%;
        padding: 200px 0 100px;
        display: flex;
        justify-content: end;
        .word {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            min-width: 1062px;
        }
    }


}

footer {
    .roller-footer {
        .roller{
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 80px;
            border: 1px solid #343a40;
            border-left: 0;
            border-right: 0;
            background-color: #0E0E10;
            .content {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 100%;
                p {
                    font-family: Manrope;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 27px;
                    letter-spacing: 0em;
                }
            }
        }
    }
    .leftSvg {
        position: absolute;
    }
    .rightSvg {
        position: absolute;
    }
    .links-footer {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;

        .middle-part {
            display: flex;
            flex-direction: row;
            .button-box {
                padding: 100px 80px;
                width: max-content;
                border: 1px solid #343a40;
                .label {
                    text-transform: uppercase;
                    font-family: Manrope;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 27px;
                    padding: 0 0 60px;
                    color: #797C86;
                }
    
                .slogan-btn {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .text-btn {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        .stroke-btn {

                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 23px 55px;
                            gap: 10px;
                            border-radius: 100px;
                            background-color: #4A2CED;
                            margin-left: 10px;
                        }
                        .stroke-btn:hover {
                            background-color: #fff;
                            img {
                                filter: brightness(0%);
                            }  
                        }
                    }
                    .text {
                        font-family: Manrope;
                        font-size: 58px;
                        font-weight: 600;
                        line-height: 79px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #FFFFFF;
                    }
                }
            }
    
            .links-box {
                border: 1px solid #343a40;
                .links {
                    display: flex;
                    flex-direction: row;
                    gap: 110px;
                    padding: 100px 80px;
                    .link {
                        p {
                            margin-bottom: 20px;
                            text-transform: uppercase;
                            font-family: Manrope;
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 25px;
                            color: #797C86;
                        }
    
                        .underscores {
                            display: flex;
                            flex-direction: column;
                            gap: 6px;
                            a {
                                width: fit-content;
                                text-transform: uppercase;
                                text-decoration: none;
                                font-family: Manrope;
                                font-size: 18px;
                                font-weight: 400;
                                line-height: 37px;
                                color: #F2F2F3;
                                border-bottom: 1px solid #343a40;
                            }
                            a:hover {
                                color: #343a40;
                            }
                        }
                        
                    }
                }
            }
        }

    }
    .social-footer {
        width: 100%;
        padding: 20px 0;
        border-top: 1px solid #343a40;
        display: flex;
        justify-content: center;
        align-items: center;
        .social {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .policy {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: 11px;
                p {
                    color: #797C86;
                    font-family: Manrope;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 27px;
                }
                .term {
                    padding-right: 11px;
                    border-right: 1px solid #1c1c21;
                }
            }

            .media {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 196px;
                height: 68px;
                border-radius: 40px;
                background-color: #000;
                border: 1px solid #343a40;
                .logos {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 16px;
                    .logo {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #2F2F37;
                        height: 48px;
                        width: 48px;
                        border: 1px solid #343a40;
                        border-radius: 30px;
                    }
                    .logo:hover {
                        background-color: #fff;
                        img {
                            filter: brightness(0%);
                        }
                    }
                }
            }

            p {
                color: #797C86;
                font-family: Manrope;
                font-size: 18px;
                font-weight: 400;
                line-height: 27px;
            }
        }
    }
}

